body {
    background-color: rgb(255, 246, 234);
}

/*Navbar*/
.navbar {
    border-bottom: 1px solid gray;
    background-color: rgb(255, 246, 234);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1abc9c;
}

.nav-link {
    color: #000;
}

.nav-link:hover {
    color: #1abc9c;
}

.btn-register {
    color: white;
    background-color: #1abc9c;
    border: none;
}

.btn-login {
    color: #1abc9c;
}

.btn-login:hover {
    border: 1px solid #1abc9c;
    color: #1abc9c;
}

.btn-register:hover {
    background-color: #115043;
    color: white;
}

/*Notificacoes inteligentes*/
.notificacoes-inteligentes {
    background-color: #f8f6f2;
    color: #333;
}

.notificacoes-inteligentes h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: black;
}

.notificacoes-inteligentes span {
    color: #1abc9c;
    border-bottom: 2px solid #1abc9c;
}

/* Container das imagens */
.images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
}

/* Botões */
.btn-primary {
    background-color: #1abc9c;
    border: none;
}

.btn-primary:hover {
    background-color: #16a085;
}

.btn-outline-secondary {
    border: none;
    color: #000000;
}

.btn-outline-secondary:hover {
    background-color: #1abc9c;
    color: #fff;
}

/*Como funciona*/

.como-funciona h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: black;
}

.como-funciona p {
    font-size: 1.5rem;
}

.como-funciona span {
    font-weight: bold;
}

.como-funciona .btn-teste-gratuito {
    background-color: #1abc9c;
    color: #fff;
}

.btn-teste-gratuito:hover {
    background-color: #115043;
    color: white;
}

/*Entenda melhor*/

.entenda-melhor {
    background-color: #1f1f1f;
}

.entenda-melhor h1,
h4,
p {
    color: white;
    text-align: center;
}

.entenda-melhor h6 {
    color: white;
    display: inline-block;
    border-bottom: 1px solid green;
    padding-bottom: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.entenda-melhor h4 {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    text-align: justify;
    max-width: 500px;
}

.entenda-melhor p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    text-align: justify;
    max-width: 500px;
}

.entenda-melhor span {
    font-weight: bold;
}

.owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    background: #ddd;
    border-radius: 50%;
    transition: background 0.3s;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #00ff00;
    /* Cor ativa */
}